/*
Description: Let's remove the default ugly bullet points and also the annoying padding
*/
.css-rules {
	list-style: none;
	padding: 0;
}

/*
Description: This style creates the box you see around this css rule!
*/
.css-rules li {
	padding: 20px;
	background: #fbfbfb;
	border: 1px solid #ebebeb;
	margin-bottom: 20px;
}

/*
Description: This style creates the iframe when demoing styles such as below
Markup: The box around this html is the style in question, use the `Markup: somehtml` in your documentation to generate it
*/
.style-demo {
	border: 1px solid #444;
	display: block;
	width: 100%;
}

/*
Description: If your style lacks any documentation, let's show a decently noticable error that you should update your docs!
Markup: <p class="no-documentation">No documentation!</p>
*/
.no-documentation {
	color: #880000;
}