/*
# Kalei Themes

To make sure the code demo's are un-affected by Kaleis own styles we only set a few global styles

The menu is fixed and the page contained simply aligns itself 200px from the left.

*/
html, body, .kalei {
	height: 100% !important;
}
body {
	background: #fff !important;
	margin: 0 !important;
  padding: 0 !important;
}

.kalei-style-menu-container {
	position: fixed;
	background: #fff;
	height: 100%;
	width: 300px;
}
.kalei-style-menu {
}
.kalei-style-page {
	border-left: 1px solid #ccc;
	margin-left: 300px;
	padding: 20px;
	background: #f7f7f7;
}

/*
## Headings and paragraphs
```
<div class="kalei-comments">
	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<h5>Heading 5</h5>
	<h6>Heading 6</h6>
	<p class="fixie"></p>
	<ul>
	  <li>List Item 1</li>
	  <li>List Item 2</li>
	  <li>List Item 3</li>
	</ul>
</div>
```
*/

.kalei-comments > h1,
.kalei-comments > h2,
.kalei-comments > h3,
.kalei-comments > h4,
.kalei-comments > h5,
.kalei-comments > h5,
.kalei-comments > h6,
.kalei-comments > ul,
.kalei-comments> ol,
.kalei-comments> p a,
.kalei-comments> p a:visited,
.kalei-comments>  a:visited,
.kalei-comments> a,
.kalei-styleguide-menu-heading > h1,
.kalei-styleguide-menu > li > h3,

.kalei-comments > p {

  font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 10px;
	margin: 0;
	color: #444;

}
.kalei-comments> p a,
.kalei-comments> p a:visited {
	padding: 0;
}
.kalei-comments > iframe {
	margin-left: 10px;
	margin-top: 10px;
}
.kalei-comments > ul,
.kalei-comments> ol {
	margin-left: 20px;
}
.kalei-comments > ul,
.kalei-comments> ol,
.kalei-comments > p {
	font-size: 12px;
}

/*
## CSS and Comments Layout 

These styles make sure the css code block is floated to the right correctly and the comments on the left

```
<div class="kalei-documentation">

	<div class="kalei-comments-container ">
		<div class="kalei-comments ">
			<p>This is a test Kalei comment.</p>
		</div>
	</div>

</div>
```
*/

.kalei-style-page > .kalei-documentation {
	position: relative;
}
.kalei-comments-container {
	width: 100%;
	position: relative;
}



/*
## Code demos

When you use Markdown code blocks ```, Kalei automatically renders the code as HTML and beneath it shows the code block with syntax highlighting.
```
<pre>
	<code>
		.kalei-comments > pre > code, 
		.kalei-css-container > pre > code {
			font-size: 11px;
			opacity: 0.7;
			white-space: pre-wrap; 
			padding: 10px;
		}
	</code>
</pre>
```
*/
.kalei-comments > pre > code, 
.kalei-css-container > pre > code {
	font-size: 11px;

	white-space: pre-wrap; 
	padding: 10px;
}
.kalei-css-container,
.kalei-comments > pre > code {

		opacity: 0.5;
}
.kalei-comments > pre > code:hover, 
.kalei-css-container:hover  {
	opacity: 1;
}
.kalei-css-container.kalei-no-css {
	display: none;
}
.kalei-comments >  pre {
	margin: 0;	
	border-bottom: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
}
.kalei-comments {
	background: #f7f7f7;
padding: 20px;
margin: 0 0 20px 0;
background: 
white;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
border: 1px solid #ccc;
}
body .codedemo {
	position: relative;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAAXNSR0IArs4c6QAAAAZQTFRF+vr6////+o8bnQAAABBJREFUCB1jYPjPgBXhEAYAfr8P8bm+jEoAAAAASUVORK5CYII=);
	padding: 40px;
	border: 1px solid #ebebeb	;
	font-size: 100%;
}

*:not(.codedemo) .kalei-styleguide-menu-heading h1 {
	font-size: 22px;
	margin: 0;
	color: #444;
  padding-left: 20px;
}
*:not(.codedemo) .kalei-styleguide-menu-heading, .styleguide-menu-heading:visited {
	text-decoration: none;
}

*:not(.codedemo) .kalei-styleguide-menu-heading:hover {
	color: #222;
}

*:not(.codedemo) .kalei-styleguide-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
body .codedemo::after {
	content: "Example";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #444;
	color: #ebebeb;
	-webkit-border-radius: 0px 0 4px 0;
	-moz-border-radius: 0px 0 4px 0;
	border-radius: 0px 0 4px 0;
}




.kalei-styleguide-menu > li > h3 {
		color: #444;
	font-weight: bold;
	margin-top: 20px;
	font-size: 16px;
  padding-left: 20px;

}
.kalei-styleguide-menu-link {
	padding: 10px 0px 10px 30px;
	display: block;
	height: 100%;
	text-decoration: none;
	color: #555;
	font-family: Arial;
	font-size: 14px;
	position: relative;
}


.kalei-styleguide-menu-link:hover,
.kalei-styleguide-menu-link.active {
	background: #444;
	color: #ebebeb;
}

/* creates the smaller  triangle */
.kalei-styleguide-menu-link:hover:after,
.kalei-styleguide-menu-link.active:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  right:0; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}
/* creates the smaller  triangle */
.kalei-styleguide-menu-link:hover:before,
.kalei-styleguide-menu-link.active:before {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  right:0; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}



/* creates the smaller  triangle */
.kalei-styleguide-menu-link:hover:before,
.kalei-styleguide-menu-link.active:before {
  top:14px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  right:-1px; /* value = - border-left-width - border-right-width */
   border-width:6px 5px 6px 0px;
  border-color:transparent #ccc;
}
/* creates the smaller  triangle */
.kalei-styleguide-menu-link:hover:after,
.kalei-styleguide-menu-link.active:after {
  top:15px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  right:-2px; /* value = - border-left-width - border-right-width */
   border-width:5px 5px 5px 0px;
  border-color:transparent #f7f7f7;
}
