<h1>Kalei - A living style guide</h1>
<i>Early release beta</i>
<p>This project aims at making sure your style sheets are fully documented whilst being synchronized with your webpages styles. To do this it actually uses your live stylesheets in so that at anytime you can review how your styleguide looks.</p>
<a href="https://github.com/thomasdavis/kalei">Github Repository</a>
<h2>Goals and benefits</h2>
<ul>
	<li>Fully documented CSS - No need to explain the benefits</li>
	<li>No dependencies, simply download the repository and run in your browser</li>
	<li>Automatic generation of demo UI components</li>
	<li>Easy access for anyone, designer, developer, manager and users</li>
	<li>Rapid development of projects by allowing developers to find the correct CSS and HTML for any given UI component</li>
	<li>Include Disqus to allow each style sheet to have it's own comment thread, allowing collaboration</li>
	<li>Open sourced so that all great ideas can be included</li>
</ul>
<h2>Getting started</h2>
<ol>
	<li>Download the repository (git clone git://github.com/thomasdavis/kalei.git)</li>
	<li>Serve it on a HTTP server</li>
	<li>Edit `js/config.js` to point at your own `styles.css` or uncomment the line to point at localhost</li>
</ol>
<h2>Author</h2>
<a href="http://thomasdavis.github.com">Thomas Davis</a>
<p>Need more contributors to give it a nicer style and more functionality</p>
<br />
<a style="" href="https://twitter.com/neutralthoughts" class="twitter-follow-button">Follow @neutralthoughts</a>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<h2>Have fun!</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'kaleistyleguide'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>