<style>

</style>
<% _.each(blocks, function(block) { %>
<div class="kalei-documentation">

	<div class="kalei-comments-container <%= block.css === '' ? 'kalei-no-css' : '' %>">
		<div class="kalei-comments ">
			<%= block.comments %>
		</div>
	</div>

		<div class="kalei-css-container <%= block.css === '' ? 'kalei-no-css' : '' %>"><pre><code class="kalei-css"><%=  block.css %></code></pre></div>
	<div style="clear: both;"></div>
</div>

<% }); %>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '<%= config.disqus_shortname %>'; // required: replace example with your forum shortname
    var disqus_url = window.location.href;
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
